<p>TODO: Eminem 452 000$ NFT</p>

<div>
    <mat-form-field appearance="fill" floatLabel="auto" style="width: 80%; margin-top: 10px; margin-left: 10px;">
        <mat-label>Eminem 452 000$ NFT (#9055) Token Image ID</mat-label>
        <input matInput placeholder="Copy paste in Get NFT Media Demo"
            value="token/0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D/4de3a3be-c695-5b91-ad53-988ff659b96e.png">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill" floatLabel="auto" style="width: 80%; margin-top: 10px; margin-left: 10px;">
        <mat-label>TODO: find current price in real-time</mat-label>
        <input matInput placeholder="Opensea link (use it as example)"
            value="https://opensea.io/assets/ethereum/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d/9055">
    </mat-form-field>
</div>