<app-dynamic-api-key>
</app-dynamic-api-key>


<mat-tab-group dynamicHeight backgroundColor="primary" color="warn" style="padding: 10px">
  <mat-tab label="NFTs Collection: Bored Ape Yacht Club">
    <app-bored-ape-board>

    </app-bored-ape-board>
  </mat-tab>

  <mat-tab label="API Image Url">

    <div>
      <mat-form-field appearance="fill" floatLabel="auto">
        <mat-label>Image Url Prefix</mat-label>
        <input matInput #UrlPrefix>
      </mat-form-field>

    </div>
    <div>

      <mat-form-field appearance="fill" floatLabel="auto">
        <mat-label>Media Path</mat-label>
        <input matInput placeholder="Copy paste Media Path" #MediaPath>
      </mat-form-field>

      <button (click)="onGetMediaRequest(UrlPrefix.value,MediaPath.value)" mat-stroked-button color="primary"
        style="margin-left: 10px">Send
        Request</button>
    </div>

    <div>
      <!-- <img mat-card-image [src]="imageUrl$"> -->
      <img [src]="imageToShow" alt="Place image title">
      <!-- <img [src]="imageToShow" alt="Place image title" *ngIf="!isImageLoading; else noImageFound"> -->
      <!-- <ng-template #noImageFound>
        <img src="fallbackImage.png" alt="Fallbackimage">
      </ng-template> -->
    </div>
  </mat-tab>
</mat-tab-group>