<h1>Playground Board: Bored Ape Yacht Club</h1>
<!-- TODO: add About description -->

<div>
    <mat-form-field appearance="standard" floatLabel="auto" style="width: 80%;">
        <mat-label>API url</mat-label>
        <input matInput [value]="urlValue">
    </mat-form-field>

    <button (click)="onSendRequest()" mat-stroked-button color="primary"
        style="margin-left: 10px; width: 150px;">
        Send Get Request</button>
</div>

<div>
    <!-- TODO: create separate component -->
    <tr *ngFor="let item of (response$ | async)">
        <mat-card>
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>Name: {{item.nftAsset.name}} </mat-card-title>
                <mat-card-subtitle>Asset id: {{item.nftAsset.id}}</mat-card-subtitle>
                <mat-card-subtitle>Image Url: {{item.nftAsset.image_url}}</mat-card-subtitle>
            </mat-card-header>

            <div>
                <!-- <button>Render Image</button> -->
                <img mat-card-image [src]="(item.media$ |async)">
            </div>


            <mat-card-footer style="padding-left: 15px;">
                <mat-card-subtitle>contract_address: {{item.nftAsset.contract_address}}</mat-card-subtitle>
            </mat-card-footer>
        </mat-card>
    </tr>

    
</div>