<h1>Get and Render NFT Media</h1>

<div>
    <mat-form-field appearance="standard" floatLabel="auto" style="width: 80%;">
        <mat-label>Image URL prefix</mat-label>
        <input matInput [(ngModel)]="urlPrefix">
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="standard" floatLabel="auto" style="width: 80%;">
        <mat-label>Token media path</mat-label>
        <input matInput [(ngModel)]="tokenPath">
    </mat-form-field>
</div>
<div>
    <button (click)="onGetMediaRequest()" mat-stroked-button color="primary" style="margin-left: 10px">Send
        Request</button>
</div>

<div>
    <img [src]="imageToShow">
</div>